@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      hsl(183, 90%, 35%),
      hsl(183, 100%, 47%),
      hsl(183, 90%, 35%)
    )
    0 0 / var(--bg-size) 100%;
  background-clip: text;
  color: transparent;
  animation: move-bg 8s infinite linear;
}
